.Footer {
    width: 100%;
    background-color: #eee;
    padding: 30px 200px;
}

.Footer p {
    text-align: center;
    color: #ff6f00;
    font-size: 20px;
    font-weight: 600;

}

@media(max-width:992px) {
    .Footer {
        padding: 15px 50px;
    }

    .Footer p {
        font-size: 15px !important;
        padding: 0;
    }
}