.hero-page {
    background-image: url('../Img/ad.png');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.img-left,
.img-right {
    display: flex;
    height: 60vh;
}

.content-hero {
    display: flex;
    justify-content: space-between;
}

.hero-page p {
    margin-top: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width:992px) {

    .img-left,
    .img-right {
        display: none;
    }

    .content-hero p {
        font-size: 35px;
        text-align: center;
        position: absolute;
        left: 50%;
        right: 0;
        top: 0;
        transform: translateX(-50%);
    }
}